*.vsidx
TravellingSalesmanProblem/.vs
TravellingSalesmanProblem//TravellingSalesmanProblem/.vs
TravellingSalesmanProblem//TravellingSalesmanProblem/obj/Debug
TravellingSalesmanProblem//TravellingSalesmanProblem/bin